/* http://www.w3schools.com/cssref/css3_pr_font-face_rule.asp */
/* Validated on https://jigsaw.w3.org/css-validator/,
 * validator said that there were no errors */
@font-face {
    font-family: "Lemon Milk";
    src: url("LemonMilk.otf");
}
body{
    background-color: black;
    color: white;
    font-family: "Lemon Milk", sans-serif;
    font-size: 22px;
}
header {
    width: 90%;
    margin: 0 auto;
}
h1 {
    font-size: 100px;
    letter-spacing: 10px;
    margin: 60px 0 0 10px;
}

form {
    width: 90%;
    margin: 10px auto;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: rgba(255, 235, 56, .2);
}

fieldset {
    background-color: rgb(255, 235, 56);
    color: black;
    border-style: none;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 0 10px 20px 10px;
}
select{
    height: 30px;
    vertical-align: center;
    margin: 0 10px;
}
input{
    margin: 0 10px;
    padding: 7px 30px 7px 7px;
    vertical-align: center;
}
label {
    vertical-align: center;
}
span{
    color: rgb(191, 42, 19);
}
.btn {
    background: black;
    color: white;
    font-family: "Lemon Milk", sans-serif;
    font-size: 20px;
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    cursor: pointer;
}

.inline {
    display: inline-block;
    margin: 10px 20px;
}

.centered {
    text-align: center;
    width: 100%;
}

.browser {
    margin: 20px 55px;
    font-size: 10px;
    letter-spacing: 1.75px;
}

.selectone {
    font-size: 12px;
    color: red;
    visibility: hidden;
}

#street-address, #city, #email{
    padding-right: 120px;
}
#zip-code {
    padding-right: 0;
}
#hearmore {
    font-size: 16px;
}

select {
    border: 1px solid grey;
}

input {
    border: none;
}

