/* Kim Vu, Payment Form CSS, created 2/15/2015, last edited 2/15/2015*/

body {
    background-color: #fffeb2;
    color: #636452;
    font-family: "Georgia", serif;
    font-size: 12pt;
    margin: 8em;
}

h1 {
    font-size: 50pt;
    text-transform: uppercase;
    color: #e06317;
    margin-bottom: 0;
    text-align: right;
}

fieldset {
    border: 10px solid #e06317;
    border-bottom: none;
}

input, select {
    font-family: "Arial", sans-serif;
    font-size: 14pt;
    margin-left: 1em;
}

.btn {
    background: #e02c1e;
    color: white;
    font-family: "Georgia", serif;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-top: 2em;
    font-size: 14pt;
    padding: 1em;
}

.btn:hover{
    background: #fe5746;
}

#last {
    border-bottom: 10px solid #e06317;
}