/* February 15th, 2015, Homework 4
CSS document for the styling of the vububscript01.html page */

/* overall page styling */
body {
	background-image: url("bubblebackground.jpg");
	background-size: 1500px 998px;
	background-color: black; /* backup color in case image fails to load */
	color: white;
	font-size: 24pt; 
	font-family: "Helvetica-Neue", sans-serif;
	font-weight: 100;
}

h1 {
	font-size: 70pt;
	font-weight: 200;
	text-transform: uppercase;
	margin-bottom: 0;
}

.description {
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 2em;
}


/* table styling */
table {
	border-collapse: collapse;
}

td {
    padding: 20px;
	border: 4px #1f1f1f solid; /*darkest grey border color*/
	text-align: center;
	background-color: #494949; /* dark grey background color */
	width: 2em; /* fixed width for consistent table cells */
}

td:hover {
    background-color: #656565; /* light grey hover color */
    color: #8fb0ff; /* light blue hover color */
}

/* lower link styling */
a {
    color: #b095ff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: #8fb0ff;
    font-weight: 800;
}